# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_BLUEMICRO840_V1_CLEAR_BT

config BOARD
    default "bluemicro840_v1_clear_bt"

config BT_CTLR
    default BT

config ZMK_BLE
    default y

config ZMK_USB
    default y

endif # BOARD_BLUEMICRO840_V1_CLEAR_BT