CONFIG_BOARD_NICE_NANO_V2_CLEAR_BT=y
CONFIG_ZMK_BLE_CLEAR_BONDS_ON_START=y

# Bluetooth configuration
CONFIG_BT=y
CONFIG_BT_HCI_RAW=y
CONFIG_BT_CTLR_TX_PWR_PLUS_8=n

# UART configuration
CONFIG_UART_INTERRUPT_DRIVEN=y
CONFIG_SERIAL=y