# SPDX-License-Identifier: MIT

CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52840_QIAA=y
CONFIG_BOARD_BLUEMICRO840_V1=y

# Enable MPU
CONFIG_ARM_MPU=y

# Enable hardware stack protection
CONFIG_HW_STACK_PROTECTION=y

# Enable RTT
CONFIG_USE_SEGGER_RTT=y

# Enable GPIO
CONFIG_GPIO=y

# Enable UART
CONFIG_SERIAL=y

# Enable console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# Enable USB
CONFIG_USB_DEVICE_STACK=y
CONFIG_USB_DEVICE_MANUFACTURER="BlueMicro"
CONFIG_USB_DEVICE_PRODUCT="BlueMicro840 v1"
CONFIG_USB_DEVICE_VID=0x1D50
CONFIG_USB_DEVICE_PID=0x615E

# Enable I2C
CONFIG_I2C=y
CONFIG_I2C_NRFX=y

# Enable SPI
CONFIG_SPI=y
CONFIG_SPI_NRFX=y

# Enable battery voltage divider
CONFIG_ADC=y
CONFIG_ZMK_BATTERY_VOLTAGE_DIVIDER=y

# Additional board options
CONFIG_GPIO_AS_PINRESET=y

# Build UF2 by default
CONFIG_BUILD_OUTPUT_UF2=y