# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_BLUEMICRO840_V1

config BOARD
    default "bluemicro840_v1"

config BT_CTLR
    default BT

config ZMK_BLE
    default y

config ZMK_USB
    default y

config ZMK_BATTERY_VOLTAGE_DIVIDER
    default y

config SPI
    default y

config I2C
    default y

endif # BOARD_BLUEMICRO840_V1